table, th, tr, td {
    border: 1px solid black;
}
h1 {
    margin-left: 10%
}
table{
    caption-side: top;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
