nav {
    border-bottom: 4px solid #003380;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    margin-right: 100px;
}
.navigation > li {
    font-size: 24px;
    height: 100%;
    width: 180px;
    text-align: center;
}
.navigation > li > a {
    display: block;
    margin-top: 35px;
    text-decoration: none;
}
.navigation > li:hover {
 color: #003380;
 font-weight: bold;
}
