.loggin-form {
    margin:100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #003380;
    height: 450px;
    width: 350px;
    box-shadow: 10px 10px #d9d9d9;
    border-radius: 30px;
    background-color: #033863;
    color: #e0e0e0;
}
fieldset {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.log-field {
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 35px;
    border: 3px solid #00004d

}
.log-label {
    text-transform: lowercase;
    margin: 10px 0;
}
button{
    width: 140px;
    height: 35px;
    border: 3px solid #00004d;
}
button:hover {

}
.submit-button{
    margin:20px 0 40px 50px;
}